<html>
    <head>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <title>Alternate My Route!</title>
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCRis7n8CCn_G522W7xGxjcHALPbKib2rA&sensor=false"></script>
        <script type="text/javascript" src="http://crypto-js.googlecode.com/files/2.5.3-crypto-sha1.js"></script>
        <script type="text/javascript" src="static/util.js"></script>
    </head>
    <body onload="window.util.init()" style="font-family: sans-serif;">
        <table style="width: 400px">
            <tr>
                <td><input type="checkbox" id="optimize" checked />Optimize</td>
            </tr>
            <tr>
                <td><input type="button" value="Reset" onclick="window.util.init()" /></td>
            </tr>
            <tr>
                <td><input type="button" onclick="window.util.findRoute()" value="Pimp MY Route!" /></td>
            </tr>
        </table>
        <div>
            <b>Mode of Travel: </b>
            <select id="travelmode" onchange="window.util.setMode();">
                <option value="DRIVING">Driving</option>
                <option value="WALKING">Walking</option>
                <option value="BICYCLING">Bicycling</option>
            </select>
        </div>
        <div>
            <b>Maximum Delay: </b>
            <select id="maxdelay" onchange="window.util.setDelay();">
                <option value="0">Unlimited</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
            </select>
        </div>
        <div>
            <strong>Enter Your Location: </strong><br>
            <input type="text" name="start" id="start" style="width:250px;" value="san jose"/>
            <input type="hidden" name="latlng_start" id="lat_start" value="-1"/>
            <input type="hidden" name="latlng_start" id="lat_end" value="-1"/>
            <input type="text" name="end" id="end"  style="width:250px;" value="san francisco"/>
            <input type="hidden" name="latlng_end" id="lng_end" value="-1"/>
            <input type="hidden" name="latlng_start" id="lng_start" value="-1"/>
            <input type="button" value="Search" onclick="window.util.drawRoute()" />
        </div>
        <div style="position:relative; border: 1px; width: 1010px; height: 600px;">
            <div id="map_canvas" style="border: 1px solid black; position:absolute; width:798px; height:598px"></div>
            <div id="directionsPanel" style="position:absolute; left: 810px; width:240px; height:600px; overflow: auto"></div>
        </div>
    </body>
</html>
